* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
font-family: "Helvetica"
}
body {

}
.top-nav{
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 5px 5px;
}

.top-nav a {
  text-decoration: none;
  color: white;
}

  .main-nav-list {
    display:flex;
    list-style: none;
  }

  .main-nav-list li {
  margin:0 10px;
}


.landing {
  background-image: url("../images/smoke.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align : center;
  font-family: "Impact", sans-serif;
  font-size: 25px;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .landing {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .landing {
    background-image: url("../images/largesmoke.jpeg");
  }
}

.row {
  display: flex;
}

.col-3 {
  width: 100%;
}

@media (max-width: 700px) {
  .row {
    display: block;
}

    .col-3 {
      width: 100%;
    }

  }


.styled {
  margin-left:25%;
  width: 50%;
  height: 100px;
  padding: 50px;
}
